.headings {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
}

.button {
  background-color: pink;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
  font-size: 1.3rem;

}

.bodyText {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1.2rem;
}

/* home recipe page */

.recipePageLayout {
  max-width: 900px;
}

.recipeHeader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipeImage {
  max-width: 800px;
  background-color: rgb(239, 225, 215);
  padding: 50px;
  border-radius: 45%;
}

/* recipe card*/

.image {
    max-width: 300px;
    
    }
    
    .card {
        margin: 400px;
        background-color: rgb(215, 233, 239);
        padding: 50px;
        font-family:'Courier New', Courier, monospace;
        border-radius: 10%;
    }
    
    .cardContainer {
        justify-content: center;
    }

    /* add recipe page */

    .addRecipeContainer {
      background-color: rgb(239, 225, 215);
      padding: 50px;
      font-family:'Courier New', Courier, monospace;
      border-radius: 10%;
      width: 500px;
    }


    
    
